/* init */
@font-face{
    font-family: m6x11;
    src: url("/assets/fonts/managore/m6x11plus.ttf");
}

@font-face{
    font-family: m5x7;
    src: url("/assets/fonts/managore/m5x7.ttf");
}

@font-face{
    font-family: m3x6;
    src: url("/assets/fonts/managore/m3x6.ttf");
}

h1, h2, h3, h4, h5, h6 {
	font-family: m6x11;
	margin: 0px;
	margin-bottom: 3px;
	text-shadow: 1.5px 1.2px 0px rgba(0,0,0,0.35);
	letter-spacing: 0.5px;
}

p {
	margin: 4px 0px;
	text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.35);
}

u {
	text-underline-offset: 3px;
	text-decoration-thickness: 1.5px;
	text-decoration-color: #ad3362;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

u.purple {
	text-underline-offset: 3px;
	text-decoration-thickness: 1.5px;
	text-decoration-color: #76428a;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

hr {
	border: 1px solid #ad3362;
}

hr.short {
	border: 1px solid #ad3362;
	max-width: 150px;
	margin-left: 0px;
	margin-right: 0px;
}

hr.purple {
	border: 1px solid #76428a;
}

hr.nav {
	border: 2px solid #ad3362;
	margin: 0px;
}

a {
	text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.35);
}

a:link {
	color: rgb(60, 60, 235);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: rgb(255, 50, 50);
	background-color: transparent;
	text-decoration: underline;
}

a.heading {
	color: #ffffff;
	text-decoration: none;
}

a.heading:active {
	color: rgb(255, 50, 50);
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.allow-select {
	-webkit-user-select: text; /* Safari */
	-ms-user-select: text; /* IE 10 and IE 11 */
	user-select: text; /* Standard syntax */
}

@keyframes shake {
  0% { transform: translate(1px, 1px); }
  10% { transform: translate(-1px, -2px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 2px); }
  40% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 2px); }
  60% { transform: translate(-3px, 1px); }
  70% { transform: translate(3px, 1px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}

/* background */
@property --progress {
	initial-value: 0;
	inherits: false;
	syntax: '<number>';
}

@keyframes progress {
	from {
		--progress: 0;
	}
	to {
		--progress: 1;
	}
}

html, body {
    margin: 0px;
	scrollbar-color: #b2669a #1b1b1b;
}

html {
	scroll-behavior: smooth;
}

/*
div.scroller {
	scrollbar-color: pink lightblue;
}*/

body {
	--PI: 3.1415;
	--UNIT: 1px; /* we need to use the same unit for all calculations. Keep variables unit-less as long as possible, and only apply units when assigning to css properties */
	--r: 8; /* radius in --UNITs of circle we'll use as reference */
	
	--current-angle: calc(var(--progress) * 2 * var(--PI)); /* calculate angle at current 'time' */
	--x: calc(-1 * var(--r) * cos(var(--current-angle))); /* current x-position in --UNITs; multiply by -1 because in math positive values are upward, in css downwards */
	--y: calc(-1 * var(--r) * sin(var(--current-angle))); /* current y-position in --UNITs; multiply by -1 because in math positive values are upward, in css downwards */
	
	/* for calculations, we need to use x and y without units;
	for the translate, we need them with units */
	--x-with-unit: calc(var(--x) * var(--UNIT));
	--y-with-unit: calc(var(--y) * var(--UNIT));
	
	animation: progress 3.5s linear infinite; /*increase time to make slower*/
	background-position: var(--x-with-unit) var(--y-with-unit);
	
	background-image: url("/assets/images/style/sTile.png");
	image-rendering: pixelated;
	background-size: 96px;
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
	font-family: sans-serif;
	height: 100vh;
}

/* main */
.logo {
	display: block;
	width: 192px;
	margin: 0px auto 8px auto;
}

.logo:hover {
	animation: shake 0.25s;
}

.main {
	width: auto;
	max-width: fit-content;
	padding: 5px 10px 8px 10px;
	background-color: #b2669a;
	border:4px solid #76428a;
	margin: 8px auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.box {
	width: auto;
	max-width: fit-content;
	padding: 0px 12px;
	background-color: #b2669a;
	border:4px solid #76428a;
	margin: 4px auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
}

.content {
	padding: 10px;
	background-color: #d1496c;
	border:2px solid #ad3362;
	margin: 5px auto auto 4px;
	font-size: 17px;
}

.content-box {
	width: auto;
	max-width: fit-content;
	padding: 5px 10px;
	background-color: #d1496c;
	border:2px solid #ad3362;
	margin: 4px auto;
	font-size: 17px;
}

.content-background {
	display: flex;
	width: auto;
	max-width: fit-content;
	height: auto;
	max-height: fit-content;

	padding: 0px;
	margin: 2px;
	background-color: #eeeeee;
	border: 4px solid #eeeeee;
 	border-radius: 2px;
}

/* linkicon */
.linkicon {
	display: flex;
	image-rendering: auto;
	width: 16px;
	height: 16px;
}

.linkiconBackground {
	display: flex;
	width: 16px;
	height: 16px;
	
	padding: 4px;
	margin: 0px;
	background-color: #ad3362;
 	border-radius: 15%;
}

/* blogimage */
.blogmedia {
	max-width: 100%;
	min-width: fit-content;
	height: 96px;
}

.blogmediaBackground {
	display: flex;
	padding: 0px;
	margin: 2px 2px 4px 0px;
	background-color: #d1496c;
	border: 4px solid #ad3362;
 	border-radius: 2px;
}

/* navbar */
.navbar{
	display: flex;
	justify-content: center;
	background-color: #b2669a;
	border: 4px solid #76428a;
	width: auto;
	max-width: fit-content;
	margin: 0px auto;
	flex-wrap: wrap;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar a {
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	overflow: hidden;
}

.navbarDropdown {
	overflow: hidden;
}

.navbarDropdown .navbarDropdown-Button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.35);
}

.navbar a:hover, .navbarDropdown:hover .navbarDropdown-Button {
	background-color: #bf4674;
}

.navbar a:active, .navbarDropdown a:active {
	color: rgb(255, 50, 50);
}

.navbarDropdown-Content {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: #d1496c;
	border: 4px solid #ad3362;
	width: fit-content;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.navbarDropdown-Content a {
	float: none;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.navbarDropdown-Content a:hover {
	background-color: #bf4674;
}

.navbarDropdown:hover .navbarDropdown-Content {
	display: flex;
}
