h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	margin: 5px;
}

hr {
	border-color: #ad3362;
}

a:link {
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body {
	background-image: url("/assets/images/style/sTile.png");
	image-rendering: pixelated;
	background-size: 64px;
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
	font-family: sans-serif;
}

.main-content {
	width: auto;
	max-width: 1700px;
	padding: 10px;
	background-color: #b2669a;
	border:4px solid #76428a;
	margin: 16px auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.box {
	padding: 10px;
	background-color: #d1496c;
	border:2px solid #ad3362;
	margin: 5px 5px 15px 5px;
}

.navbar{
	display: flex;
	background-color: #b2669a;
	border: 4px solid #76428a;
	justify-content: center;
	width: fit-content;
	margin: 0px auto;
	flex-wrap: wrap;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbarItem{
	display: flex;
}

.navbarItem a {
	text-decoration: none;
	padding: 14px 16px;
	color: white; 
}

.navbarItem a:hover{
	background-color: #d1496c;
}

.navbarItem a:active {
	color: red;
}




.navbarOld {
	overflow: hidden;
	width: 850px;
	background-color: #b2669a;
	border:1px solid #76428a;
	margin: 8px auto;
}

.navbarOld a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbarOld a:hover, .dropdown:hover .dropbtn {
  background-color: #d1496c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
