#orange {
	color: orange;
}

#blue {
	color: blue;
}

#red {
	color: red;
}

#purple {
	color: purple;
}

#green {
	color: green;
}

#monospace-font {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.header-div {
	background-color: #FF6100;
	color: white;
	background-image: url("/assets/images/style/yellow-orange-gradient.png");
	background-repeat: no-repeat;
	border:1px solid orange;
	clear: both;
	margin-bottom: 10px;
	width: 900px;
	-webkit-box-shadow: 3px 3px 0px #777777;
    -moz-box-shadow: 3px 3px 0px #777777;
}

.header-logo {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4 {
	color: white;
	margin: 0px;
}

p {
	margin: 5px;
}

hr {
	border-color: #ad3362;
}

body {
	background: #3F3F74;
	background: linear-gradient(0deg, rgba(63, 63, 116, 1) 0%, rgba(167, 95, 162, 1) 50%);
	color: white;
	font-family: sans-serif;
	margin: 0px;
	background-attachment: fixed;
}

.main-content {
	width: 850px;
	padding: 5px;
	background-color: #b2669a;
	border:1px solid #76428a;
	margin: 8px;
}

#box {
	padding: 5px;
	background-color: #d1496c;
	border:1px solid #ad3362;
	margin: 5px 5px 15px 5px;
}

.footer-div {
	background-color: #0026F9;
	color: white;
	background-image: url("/assets/images/style/blue-lightblue-gradient.png");
	background-repeat: no-repeat;
	background-position: right;
	border:1px solid #0094FF;
	clear: both;
	margin-top: 10px;
	width: 900px;
	-webkit-box-shadow: 3px 3px 0px #777777;
    -moz-box-shadow: 3px 3px 0px #777777;
}

.alert-box {
	
	margin-bottom: 10px;
	width: 480px;
	background-color: #DD0000;
	background-image: url("/assets/images/style/alert-gradient.png");
	background-repeat: no-repeat;
	background-position: center;
	border:1px solid red;
	color: white;
	-webkit-box-shadow: 3px 3px 0px #777777;
    -moz-box-shadow: 3px 3px 0px #777777;
}

.header-table {
	color: white;
	border: none;
}

.footer-table {
	color: white;
	border: none;
}

.alert-table {
	color: white;
	border: none;
}







.navbar {
	overflow: hidden;
	width: 850px;
	padding: 4px;
	background-color: #b2669a;
	border:1px solid #76428a;
	margin: 8px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d1496c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}